/* File: index.html
Author: Vitovszki Tamás
Copyright: 2023, Vitovszki Tamás
Group: Szoft 1/2 N
Date: 2023-05-18
Github: https://github.com/Tomasman05/
Licenc: GNU GPL */
body{
    background-color: mediumseagreen !important;
}
